<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/" method="POST">
    Velocidad (m/s)
    <input type="number" name="velocidad"><br>
    Distancia del Caballo
    <input type="number" name="distancia"><br>
    Desaceleracion del auto (En negativo)
    <input type="number" name="frenado"><br>
    <button type="submit" value="submit">Calcular</button>
    </form>
    
    {%if acel%}
    <p>Te tragaste a un caballo de frente pobre de el :( Necesitabas frenar a {{acel}} para no chocarte. Lo chocaste en {{tie}} segundos</p>
    {%endif%}

    {%if dist2%}
    <p>Te quedaste a {{dist2}} metros de chocar al caballo</p>
    <p>Frenaste en {{tie}} segundos</p>   
    {%endif%}


    <footer>Luciano Fernandez</footer>
</body>
</html>